[submodule "glslang"]
	path = glslang
	url = https://github.com/Kode/glslang.git
	branch = main
[submodule "tests"]
	path = tests
	url = https://github.com/Kode/krafix_tests.git
	branch = main
[submodule "sourcemap.cpp"]
	path = sourcemap.cpp
	url = https://github.com/Kode/sourcemap.cpp.git
	branch = main
[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = https://github.com/Kode/SPIRV-Cross.git
	branch = main
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = https://github.com/Kode/SPIRV-Tools.git
	branch = main
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/Kode/SPIRV-Headers.git
	branch = main
