[submodule "glslang"]
	path = glslang
	url = ../glslang
	branch = master
[submodule "tests"]
	path = tests
	url = ../krafix_tests
	branch = master
[submodule "sourcemap.cpp"]
	path = sourcemap.cpp
	url = ../sourcemap.cpp
	branch = master
