name: Windows

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Get Submodules
      run: git submodule update --init --recursive
    - name: Get Kinc
      run: git clone --recursive https://github.com/Kode/Kinc.git
    - name: Get Node.js
      run: git clone https://github.com/Kode/nodejs_bin.git --depth 1
    - name: Compile
      run: .\nodejs_bin\node.exe Kinc/make --compile
    - name: Get krafix_bin
      run: git clone https://github.com/Kode/krafix_bin.git
    - name: Copy binary
      run: copy build\x64\Release\krafix.exe krafix_bin\krafix.exe
    - name: Set name
      run: git config --global user.name "Robbot"
    - name: Set email
      run: git config --global user.email "robbot2019@robdangero.us"
    - name: Commit binary
      run: git -C krafix_bin commit -a -m "Update Windows binary to ${env:GITHUB_SHA}"
    - name: Tag binary
      run: git tag ${env:GITHUB_SHA}
    - name: Push binary
      run: git -C krafix_bin push https://Kode-Robbot:${env:ROBBOT_PASS}@github.com/Kode/krafix_bin.git --tags
      env:
        ROBBOT_PASS: ${{ secrets.ROBBOT_PASS }}
